.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
application/config/config.php
application/config/database.php
application/config/email.php

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendors/
/2018/
/2019/
/ttd_user/
/mrp_2018/
/system/sessions/*
/attachment/
/download/
/demo/
bifa_2019-03-24.rar
bifa_2019-03-24.zip
application/config/config.php
application/config/database.php
/mrp_demo/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
# application/config/database.php
