RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
CheckSpelling On
RewriteCond %{REQUEST_URI} [A-Z]
RewriteRule ^(.*)$ /${lowercase:%{REQUEST_URI}} [R=301,L]


