h1,
h2,
h3,
h4,
h5,
h6,
.card-head header {
  text-transform: uppercase;
}

a[data-title]:hover,
button[data-title]:hover {
  position: relative;
}

a[data-title]:hover:after,
button[data-title]:hover:after {
  content: attr(data-title);
  background: rgba(0,0,0,.8);
  position: absolute;
  right: -50%;
  bottom: 100%;
  padding: 6px 12px;
  border-radius: 3px;
  font-size: smaller;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  text-transform: capitalize;
  /*white-space: nowrap;*/
  z-index: 98;
  /*width: 220px;*/
}

.bg-blue {
  background-color: #06b;
  background-image: url('../img/bifa.jpg');
  background-position: center center;
  background-repeat: no-repeat;
}

.middle-alignment {
  vertical-align: middle !important;
}

.bottom-alignment {
  vertical-align: bottom !important;
}

.dl-inline {
  position: relative;
}

.dl-inline dt {
  font-weight: bold;
  float: left;
  width: 25%;
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: .5rem;
}

.dl-inline dt:before {
  content:"";
  position: absolute;
  width:100%;
  height:1px;
  background-color:#eee;
  margin-top:-.5rem;
}

.dl-inline dt:first-child:before {
  content:none;
}

.dl-inline dd {
  margin-left: 27%;
  padding: .5rem;
}

@media (max-width: 768px) {
  .dl-inline dt {
    width: 35%;
  }

  .dl-inline dd{
    margin-left: 36%;
  }
}

.btn-tooltip small {
  display:none;
  position: absolute;
  text-transform: capitalize;
  padding: 6px 12px;
  background: rgba(0,0,0,.8);
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  text-align:center;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  color:#fff;
  white-space: nowrap;
  z-index: 98;
}
.btn-tooltip { display: inline-block;}
.btn-tooltip:hover small { display:block; }

small.top { bottom: 110% }
small.bottom { top: 110% }
small.left { left: 0 }
small.right { right: 0 }
small.center { left: -75%; right: -75% }

.progress-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /*background-color: rgba(255,255,255,0);*/
}

.table-nowrap th,
.table-nowrap td {
  white-space: nowrap!important;
}

.card-linked {
  cursor: pointer;
}

.card-linked:hover {
  background-color: rgba(255,255,255,0.25);
}

#datatable-buttons .btn-top {
  border-radius: 50%;
}

.list-group a.btn {
  display: block!important;
  text-align: left;
  text-transform: none;
}

#datatable-form .form-group {
  max-width: 200px!important;
}

.datatable-footer {
  border-top: 1px solid #111;
  background-color: #eee;
}

.modal-fs {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transform: translateX(-50%) translateY(-50%);
}

.modal-fs .modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: rgba(0,0,0,0.15);
}

.modal-fs .modal-header,
.modal-fs .modal-footer {
  display: none;
}

.modal-fs .card {
  box-shadow: none;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-fs .card-head {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  border: 0;
  border-radius: 0;
}

.modal-fs .card-body {
  position: absolute;
  top: 40px;
  bottom: 70px;
  width: 100%;
  overflow: auto;
}

.modal-fs .card-foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 70px;
  padding: 10px 15px;
}

.modal-fs .card-foot:before,
.modal-fs .card-foot:after {
  content: " ";
  display: table;
}

.modal-fs .card-foot:after {
  clear: both;
}

.modal-fs .card-foot:last-child {
  border-radius: 0 0 2px 2px;
}

.modal-fs .card-foot-row {
  float: right;
}

.fade-scale {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.fade-scale.in {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.modal-fs .close {
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 21px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-fs .close:hover,
.modal-fs .close:focus {
  color: #fff;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.modal-fs button.close {
  padding: 10px 20px;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal-fs button.close:hover,
.modal-fs button.close:focus {
  background: #f44336;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }
input[type="radio"] { display: none; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  /*font: 14px/20px 'Open Sans', Arial, sans-serif;*/
  font-style: italic;
  color: #999;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  font-style: normal;
  color: #009688;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }
input[type="radio"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="radio"] + label:before {
  border-radius: 50%;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  border-color: #009688;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
