/* Border styles */
table {
    border-collapse: collapse;
    margin-bottom: 2em;
    width: 100%!important;
    background: #fff;
    font-family: 'Lato', sans-serif;
}

table th,
table td {
    padding: 0.75em 1.5em ;
    text-align: left;
    white-space: nowrap;
}

.table-data thead tr {
    background-color: #2f96b4;
    color: #fff;
}

.table-data tfoot tr {
    background-color: #eee;
    color: #555;
}

table .table-no-border {
    border: none;
}