.card-responsive {
    overflow: auto;
}
table {
    border-collapse: collapse;
    margin-bottom: 2em;
    width: 100%!important;
    font-family: 'Lato', sans-serif;
}
table th {
    padding:15px 10px 5px;
    text-align: right;
    width: 25%;
    font-weight: normal;
    color: #999;
    white-space: nowrap;
}
table td {
    font-weight: bold;
    padding:15px 25px 5px 5px;
    border-bottom:1px dashed #e0e0e0;
}
table tr:hover td {
    background: #f0f0f0;
}
table tr:hover th {
    color: #333;
}
