table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #f9f9f9;
}
table td, th {
    padding: 0.75em 1.5em;
    /*text-align: left;*/
}
table th {
    background-color: #22A7F0;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
table tbody th {
    background-color: #2ea879;
}
table tbody tr:nth-child(2n-1) {
    background-color: #f0f0f0;
    transition: all .125s ease-in-out;
}
table tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}
