/* Component styles */
table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%!important;
    background: #fff;
    font-family: 'Lato', sans-serif;
}
th, td {
    padding: 0.75em 1.5em ;
    text-align: left;
    white-space: nowrap;
}
/*th {*/
    /*padding: 1em 1em;*/
    /*text-align: left;*/
    /*white-space: nowrap;*/
/*}*/
td.err {
	background-color: #e992b9;
	color: #fff;
	font-size: 0.75em;
	text-align: center;
	line-height: 1;
}
th {
    background-color: rgb(2, 117, 216);
    font-weight: bold;
    color: #fff;
}
tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}

/** bordering table */
tr {
    border-bottom: 1px solid #e9e9e9;
}
thead tr:last-child,
tfoot tr {
    border-bottom: none;
}

td, th {
    border-left: 1px solid #f0f0f0!important;
    /*font-size: 1.15em;*/
}
td:first-child,
th:first-child {
    border-left: none!important;
}

.dataTables_wrapper tfoot th {
    font-weight: normal!important;
    /*border: none!important;*/
    /*font-size: 1em;*/
    padding: 0.75em 0.75em ;
}

/*tfoot th {*/
    /*font-weight: normal!important;*/
    /*font-size: smaller;*/
/*}*/
