table {
    border-collapse: collapse;
    padding: 2em 0;
    width: 100%!important;
    background: #fff;
}

table th,
table td {
	padding: 8px 12px;
}

.header {
	border-bottom: 2px double #999999;
}

.header table {
	width:100%;
	border: none; 
}