#landing-page {
    background-color: rgb(234, 234, 234);
    font-family: 'Lato', sans-serif;
}
#landing-page .navbar .navbar-toggle {
    position: absolute;
    right: 0;
    border-radius: 0;
    border: 0;
    height: 44px;
    padding: 0 15px;
}
#landing-page .app-header {
    padding-top: 100px;
    background-image: url("../images/app-header-bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}
#landing-page .app-header .app-logo {
    margin-bottom: 20px;
}
#landing-page .app-header .app-description {
    margin-bottom: 40px;
}
#landing-page .app-content-a {
    padding-top: 30px;
    padding-bottom: 20px;
}
#landing-page .app-content-b {
    padding-top: 50px;
    padding-bottom: 20px;
}
#landing-page .app-content-b.feature-1 {
    background-image: url("../images/bg/picjumbo.com_HNCK3558.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
    -webkit-box-shadow: inset 0 -15px 15px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 -15px 15px 0 rgba(0,0,0,0.75);
    box-shadow: inset 0 -15px 15px 0 rgba(0,0,0,0.75);
}
#landing-page .app-content-b.contact-us {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../images/contact-us-bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}
#landing-page .app-content-b.contact-us .contact-us-header {
    font-weight: 300;
    font-size: 46px;
}
#landing-page .app-content-b.contact-us .contact-us-description {
    font-weight: 300;
    font-size: 18px;
    opacity: 0.9;
    text-indent: 40px;
}
#landing-page .app-content-b.contact-us form {
    margin-top: 20px; }
#landing-page .app-content-b.contact-us form input {
    padding: 10px;
    width: 100%;
    border: 0;
}
#landing-page .app-content-header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-shadow: 3px 3px 3px #999;
    color: rgb(69, 70, 72);
}
#landing-page .app-content-company {
    color: #555;
    display: block;
    font-size: 30px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    z-index: 1;
}
#landing-page .app-content-company span {
    background: rgb(234, 234, 234);
    padding: 0 10px;
    text-transform: uppercase;
}
#landing-page .app-content-company:before {
    border-top: 2px solid #777;
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    z-index: -1;
}

@media (max-width: 767px) {
    #landing-page .app-content-header {
        font-size: 48px;
    }

    #landing-page .app-content-company {
        font-size: 16px;
    }

    #landing-page .app-content-company:before {
        top: 10px;
    }
}
#landing-page .app-content-description {
    font-weight: 300;
    font-size: 18px;
}
#landing-page .app-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-size: 2em;
}
#landing-page .app-footer p {
    margin: 0;
}
#landing-page .navbar-affix {
    width: 100%;
    height: 60px;
    border-top: 2px rgba(78, 205, 196, 0.8);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: fixed;
    -webkit-box-shadow: 0 0 6px 0 rgba(96, 100, 109, 0.4);
    box-shadow: 0 0 6px 0 rgba(96, 100, 109, 0.4);
}
#landing-page .navbar.affix {
    z-index: 4000;
    background-color: rgba(255, 255, 255, 0.95) !important;
    height: 60px;
    opacity: 1;
    margin-top: 0;
}
#landing-page .navbar-affix.affix li a {
    height: 60px;
    line-height: 60px;
}
#landing-page .navbar-affix.affix .navbar-nav > li > a {
    background-color: transparent;
    font-weight: 400;
    color: #333;
}
#landing-page .navbar {
    padding-left: 0;
    background-color: transparent;
    box-shadow: none;
}
#landing-page .navbar .navbar-right {
    position: relative;
    right: 0;
}
#landing-page .navbar .navbar-header {
    border-bottom: 0 solid #e7e7e7;
}
#landing-page .navbar .navbar-header .navbar-brand {
    /*width: 45px;*/
    line-height: 60px;
    height: 60px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    /*padding-left: 0;*/
    font-family: 'Lato', sans-serif;
}
#landing-page .navbar .navbar-header .navbar-brand .icon {
    width: 50px;
    text-align: center;
    display: inline-block;
}
#landing-page .navbar .navbar-header .navbar-brand .title {
    margin-left: -10px;
    display: inline-block;
}
#landing-page .navbar .navbar-header .navbar-expand-toggle {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 0;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    opacity: 0.75;
}

@media only screen and (max-width: 768px) {
    #landing-page .navbar .navbar-header .navbar-brand {
        padding-left: 15px;
    }
}
