body {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

header {
    border-bottom: 3px double #999;
}

.clear {
    clear: both;
}
.address {
    float: left;
    font-size: 12px;
}
.logo {
    width: 30%;
}
.central {
    width: 34%;
}
.branch {
    width: 36%;
}

@media all and (orientation: landscape) {
    .logo {
        /*margin-left: 8%;*/
        width: 20%;
    }
    .central {
        margin-left: 4%;
        width: 35%;
    }
    .branch {
        width: 30%;
    }
}
h1 {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
}

table {
    border-collapse: collapse;
    padding: 1.2em 0;
    margin-bottom: 20px;
    width: 100%!important;
    background: #fff;
}

table th,
table td {
    padding: 2px 10px;
    text-align: left;
	font-size: 11px;
}

table th.no-space,
table td.no-space {
    max-width: 100%;
    white-space: nowrap;
}

table thead th {
    border-bottom: 1px solid #999;
    background-color: #f0f0f0;
    color: #000;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table.table-no-strip tr:nth-child(even) {
    background-color: none;
}

table thead td,
table tbody td {
    border-bottom: 1px solid #d5d5d5;
}

table.condensed th,
table.condensed td {
    padding: 1px 5px;
	font-size: 10px;
}

table.center td {
    text-align: center;
}

.pull-right {
  float: right !important;
  width: 30%;
}
.pull-left {
  float: left !important;
  width: 65%;
}

.well {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

.well h3 {
    border-bottom: 1px solid #999;
    color: #555;
    padding-bottom: 6px;
}

.text-muted {
    color: #777;
}
